# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Django
*.log
local_settings.py
db.sqlite3
media/

# Ambiente
.env
.venv
venv/
env/

# Poetry
.poetry/

# IDE
.vscode/
.idea/
*.swp

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db